<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <div>




        <div class="table-responsive datatable-custom">
            <div id="columnSearchDatatable_wrapper" class="dataTables_wrapper no-footer">
                <div id="columnSearchDatatable_filter" class="dataTables_filter"><label>Search:<input type="search"
                            class="" placeholder="" aria-controls="columnSearchDatatable"></label></div>
                <table id="columnSearchDatatable"
                    class="font-size-sm table table-borderless table-thead-bordered table-nowrap table-align-middle card-table dataTable no-footer"
                    data-hs-datatables-options="{
                            &quot;order&quot;: [],
                            &quot;orderCellsTop&quot;: true,
                            &quot;paging&quot;:false
                        }" role="grid" aria-describedby="columnSearchDatatable_info">
                    <thead class="thead-light">
                        <tr role="row">
                            <th class="border-0 sorting" tabindex="0" aria-controls="columnSearchDatatable" rowspan="1"
                                colspan="1" aria-label="Sl: activate to sort column ascending" style="width: 85.391px;">
                                Sl</th>
                            <th class="border-0 sorting" tabindex="0" aria-controls="columnSearchDatatable" rowspan="1"
                                colspan="1" aria-label="Title: activate to sort column ascending"
                                style="width: 321.234px;">
                                Title</th>
                            <th class="border-0 sorting" tabindex="0" aria-controls="columnSearchDatatable" rowspan="1"
                                colspan="1" aria-label="Date: activate to sort column ascending"
                                style="width: 334.203px;">Date
                            </th>
                            <th class="border-0 sorting" tabindex="0" aria-controls="columnSearchDatatable" rowspan="1"
                                colspan="1" aria-label="Time: activate to sort column ascending"
                                style="width: 176.188px;">Time
                            </th>
                            <th class="border-0 sorting" tabindex="0" aria-controls="columnSearchDatatable" rowspan="1"
                                colspan="1" aria-label="Price: activate to sort column ascending"
                                style="width: 129.641px;">
                                Price</th>
                            <th class="border-0 text-center sorting" tabindex="0" aria-controls="columnSearchDatatable"
                                rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending"
                                style="width: 136.016px;">Status</th>
                            <th class="border-0 text-center sorting" tabindex="0" aria-controls="columnSearchDatatable"
                                rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending"
                                style="width: 187.328px;">Action</th>
                        </tr>

                    </thead>

                    <tbody id="set-rows">
                        <tr role="row" class="odd">
                            <td>1</td>
                            <td>
                                <a href="http://localhost/Backend-6amMart/admin/campaign/item/view/20" title="vbkjjhol"
                                    class="d-block text-body">vbkjjhol</a>
                            </td>
                            <td>
                                <span class="bg-gradient-light text-dark">11 Nov 2028-11 Nov 2028</span>
                            </td>
                            <td>
                                <span class="bg-gradient-light text-dark">08:58-23:58</span>
                            </td>
                            <td>৳ 100.00</td>
                            <td>
                                <div class="d-flex flex-wrap justify-content-center">
                                    <label class="toggle-switch toggle-switch-sm" for="campaignCheckbox20">
                                        <input type="checkbox" class="toggle-switch-input  dynamic-checkbox"
                                            data-id="campaignCheckbox20" data-type="status"
                                            data-image-on="http://localhost/Backend-6amMart/public/assets/admin/img/modal/basic_campaign_on.png"
                                            data-image-off="http://localhost/Backend-6amMart/public/assets/admin/img/modal/basic_campaign_off.png"
                                            data-title-on="By Turning ON Campaign!"
                                            data-title-off="By Turning OFF Campaign!"
                                            data-text-on="<p>Turned on to customer website and apps. Are you sure you want to turn on the campaign already inactive.</p>"
                                            data-text-off="<p>Turned off to customer website and apps. Are you sure you want to turn off the campaign already active</p>"
                                            id="campaignCheckbox20" checked="">
                                        <span class="toggle-switch-label">
                                            <span class="toggle-switch-indicator"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>

                            <form action="http://localhost/Backend-6amMart/admin/campaign/status/item/20/0" method="get"
                                id="campaignCheckbox20_form"></form>

                            <td>
                                <div class="btn--container justify-content-center">
                                    <a class="btn action-btn btn--primary btn-outline-primary"
                                        href="http://localhost/Backend-6amMart/admin/campaign/item/edit/20"
                                        title="Edit campaign"><i class="tio-edit"></i>
                                    </a>
                                    <a class="btn action-btn btn--danger btn-outline-danger form-alert"
                                        href="javascript:" data-id="campaign-20"
                                        data-message="Want to delete this item ?" title="Delete campaign"><i
                                            class="tio-delete-outlined"></i>
                                    </a>
                                    <form action="http://localhost/Backend-6amMart/admin/campaign/item/delete/20"
                                        method="post" id="campaign-20">
                                        <input type="hidden" name="_token"
                                            value="JrnwXTocszjG0NABtwR9pazJcqlRTIKS4cWADuyQ" autocomplete="off"> <input
                                            type="hidden" name="_method" value="delete">
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>

</html>