<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ translate('Add_Fund_Transaction_Status') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Helvetica:700,400');

        body {
            font-family: 'Helvetica', sans-serif;
            font-style: normal;
            background-color: #ececec;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        .congrats-box {
            margin-top: 10px;
            margin-bottom: 38px;
        }

        .col {
            padding: 11px 0 11px 0;
        }

        .d-flex {
            display: flex
        }

        .d-block {
            display: block
        }

        .align-items-center {
            align-items: center
        }

        .justify-content-center {
            justify-content: center
        }

        .gap-1 {
            gap: .5rem
        }

        .gap-2 {
            gap: 1rem
        }

        .m-auto {
            margin: auto
        }

        .width-auto {
            width: auto
        }

        .bg-white {
            background-color: white
        }

        .pb-40px {
            padding-bottom: 40px
        }

        .pt-40px {
            padding-top: 40px
        }

        .text-center {
            text-align: center
        }

        .fs-14px {
            font-size: 14px
        }

        .fs-16px {
            font-size: 16px
        }
    </style>

</head>

<body>

    <div class="content container-fluid initial-38">
        <div class="row justify-content-center" id="printableArea">
            <div class="col-md-12">
                <center>
                    <input type="button" class="btn btn-primary non-printable" onclick="printDiv('printableArea')"
                        value="Proceed  If printer is ready.">
                    <a href="https://stackfood-admin.6amtech.com/admin/restaurant/view/4/subscriptions-transactions"
                        class="btn btn-danger non-printable">Back</a>
                </center>
                <hr class="non-printable">
                <div class="initial-38-1 __trx-print">
                    <div class="pt-3 text-center">
                        <img src="https://stackfood-admin.6amtech.com/storage/app/public/business/2022-04-17-625c012c3c07d.png"
                            alt="StackFood" class="initial-38-2">
                    </div>
                    <div class="pt-3 text-center mb-3 pb-1">
                        <img src="https://stackfood-admin.6amtech.com/public/assets/admin/img/success_image 2.png"
                            class="initial-38-2" alt="">
                    </div>
                    <div class="text-center pt-2 mb-3">
                        <h1 class="initial-38-3">Transaction Sucessfull</h1>
                        <h4 class="initial-38-4"> For
                            Pro Package</h4>
                        <h4> <span class="text--base">Purches Status: </span> Subscribed.</h4>
                        <h3 class="initial-38-3 name my-3">Dear Jakatta Potin</h3>
                        <h5 class="pb-4 pt-2 mv-2">
                            Thank You for transcation with &nbsp; <span class="text--base">StackFood</span> &nbsp; In
                            Pro Package
                        </h5>
                    </div>
                    <table class="table __subscribe-table table-borderless mt-3" style="color: rgb(105, 101, 101)">
                        <thead>
                            <tr>
                                <th>
                                    <span>Transaction ID</span>
                                </th>
                                <th>
                                    <span>Package Name</span>
                                </th>
                                <th>
                                    <span>Transaction Time</span>
                                </th>
                                <th>
                                    <span>Validity Time</span>
                                </th>
                                <th>
                                    <span>Amount</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span>214c6862-1f74-4499-ab4f-54518b3efd19</span>
                                </td>
                                <td>
                                    <span>Pro</span>
                                </td>
                                <td>
                                    <span>24 Nov 2022</span>
                                </td>
                                <td>
                                    <span>365 Days</span>
                                </td>
                                <td>
                                    <span class="__txt-nowrap">
                                        $ 1,199.00
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center my-5 py-4">
                        If you require any assistance or have feedback or suggestions about our site you can email us at
                        <a href="mailto:admin@gmail.com" style="text-decoration: none; color: inherit;">Email:
                            a**********@gmail.com</a>
                    </div>
                    <div class="d-block text-center mt-3">
                        <div style="display: inline-block;">
                            <a href="https://www.instagram.com/?hl=en" target="”_blank”">
                                <img src="https://stackfood-admin.6amtech.com/public/assets/admin/img/instagram.png"
                                    alt="" style="height: 14px; width:14px;object-fit:contain">
                            </a>
                        </div>
                        <div style="display: inline-block;">
                            <a href="https://www.facebook.com/" target="”_blank”">
                                <img src="https://stackfood-admin.6amtech.com/public/assets/admin/img/facebook.png"
                                    alt="" style="height: 14px; width:14px;object-fit:contain">
                            </a>
                        </div>
                        <div style="display: inline-block;">
                            <a href="https://twitter.com/?lang=en" target="”_blank”">
                                <img src="https://stackfood-admin.6amtech.com/public/assets/admin/img/twitter.png"
                                    alt="" style="height: 14px; width:14px;object-fit:contain">
                            </a>
                        </div>
                        <div style="display: inline-block;">
                            <a href="https://bd.linkedin.com/" target="”_blank”">
                                <img src="https://stackfood-admin.6amtech.com/public/assets/admin/img/linkedin.png"
                                    alt="" style="height: 14px; width:14px;object-fit:contain">
                            </a>
                        </div>
                        <div style="display: inline-block;">
                            <a href="https://www.pinterest.com/" target="”_blank”">
                                <img src="https://stackfood-admin.6amtech.com/public/assets/admin/img/pinterest.png"
                                    alt="" style="height: 14px; width:14px;object-fit:contain">
                            </a>
                        </div>
                        <div class="mb-3 mt-2"
                            style="font-weight: 400;font-size: 11px;line-height: 22px;color: #242A30;">
                            <a href="https://stackfood-web.6amtech.com/"
                                style="text-decoration: none; color: inherit;">https://stackfood-web.6amtech.com/</a>
                        </div>
                        <div style="font-weight: 400;font-size: 11px;line-height: 22px;color: #242A30;">
                            <span style="margin-inline-end:5px;">
                                <a href="tel:01700000000" style="text-decoration: none; color: inherit;">Phone:
                                    0**********</a>
                            </span>
                            <span>
                                <a href="mailto:admin@gmail.com" style="text-decoration: none; color: inherit;">Email:
                                    a**********@gmail.com</a>
                            </span>
                        </div>
                        <div style="font-weight: 400;font-size: 11px;line-height: 22px;color: #242A30;">House: 00, Road:
                            00,
                            City-0000, Country</div>
                        <span style="font-weight: 400;font-size: 10px;line-height: 22px;color: #242A30;">All copy right
                            reserved</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>